body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Cor de fundo */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Altura total da tela */
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: #fff; /* Cor de fundo do container */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    margin: auto; /* Centraliza o container na tela */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}